.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2vw 30vw;
  flex-direction: column;
}
.product-image .image {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.product-info {
  text-align: center;
  margin-top: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
}

.category, .price, .description {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
}

.edit-btn, .delete-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
  text-decoration:none;

}
buttons Link{
    text-decoration:none;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.edit-btn:hover, .delete-btn:hover {
  opacity: 0.8;
}
